{% extends "layout.html" %}

{% block title %}
Jadwal
{% endblock %}

{% block main %}
<form action="/jadwal" method="post">
    <div class="mb-3">
        <label for="stasiunAsal">Stasiun asal:</label>
        <select class="form-select" name="stasiun_asal" id="stasiunAsal">
            {% for (i,) in stasiun_rs %}
            <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Cari</button>
</form>
{% endblock %}
